# Copyright 2026 ETH Zurich and University of Bologna.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

[flake8]
max-line-length = 100
extend-exclude =
    .venv,
    .bender,
    sw/deps,
    target/asic/ihp13/pdk
per-file-ignores =
    sw/kernels/pace/elementwise/scripts/verify.py:E402
    sw/kernels/pace/softmax/scripts/verify.py:E402
    sw/kernels/pace/spatz_pace_loop/scripts/verify.py:E402
    sw/kernels/pace/softmax/scripts/datagen.py:E402,F401,F403,F405,F841
    sw/kernels/pace/scripts/debug.py:F403,F405
    sw/kernels/pace/scripts/invert.py:F403,F405
    sw/kernels/pace/scripts/softmax.py:E402,F403,F405
